
<%= form_for [ @article, @comment ], class: "form-horizontal", role: "form" do |f| %>
  <div class="form-group">                    
    <%= f.label :auther_name %>
    <%= f.text_field :auther_name, :class => "form-control" %>
  </div>
  <div class="form-group">                    
    <%= f.label :comment %>
    <%= f.text_area :body, :class => "form-control" %>
  </div>
  
    <%= f.submit 'Submit', :class => "btn btn-primary" %>
  
<% end %>