<div class="container" ">
  <h1 class="text-center">Articles</h1>
  <h4 class="col-md-12"><%= link_to "new article ", new_article_path, :class =>"pull-right" %></h4>
  <div class="row">
    <% @articles.each do |article| %> 
    <div class="col-sm-6">
      <div id="tb-testimonial" class="testimonial testimonial-primary-filled">
        <div class="testimonial-section" style="background-color:rgb(144, 176, 134); padding:5px 5px; border-radius:2px;">
          <%= article.body %>
        </div>
        <div class="testimonial-desc">
          <img src="https://placeholdit.imgix.net/~text?txtsize=9&amp;txt=100%C3%97100&amp;w=100&amp;h=100" alt="">
          <div class="testimonial-writer">
            
            <div class="testimonial-writer-designation"><%= article.title %></div>
            <div class="testimonial-writer-name"><%= article.user.try(:fname) %></div>
            <%= link_to "Show", article_path(article) %> |
            <%= link_to "Edit", edit_article_path(article) %> |
            <%= link_to 'Delete', article , method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
    </div>
    <%end%>














<br>
<div class="container">
  <div class="col-md-8">Article list</div>
  <p class="col -md-4 pull-right"> </p>
  <br>
  <div class="table-responsive">          
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Body</th>
          <th>Users</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
      	<% @articles.each do |article| %>	
  		    <tr>
  		    	<td><%= article.id %></td>
  		      <td><%= article.title %></td>
  					<td><%= article.body %></td>
            <td></td>
  					</td>
  			  </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
