<h1>Article</h1>
<p><%= link_to "Article list", articles_path %></p>
<div>
	<p><h4><%= @article.title %></h4></p>
	<p><%= @article.body %></p>
</div>
<h3>Comments</h3>
<%= render partial: 'comments/form' %>
<%= render partial: 'articles/comment', collection: @article.comments %>
